/* General Styling */
body {
    background: url('../images/beachAlcohol.jpeg');;
    background-size: 100vw 100vh;
    box-sizing: border-box;
    color: brown;
    font-weight: bold;
    padding: 15px;
    text-shadow: 0 0 15px orange;
}
strong {
    color: green;
}
.wrapper {
    background-color: rgba(224,255,255, 0.7); 
    border-radius: 15px;
    height: 600px;
    margin: auto;
    margin-top: 5%;
    position: relative;
    text-align: center;
    width: 800px;
}

/* Header Styling */
.header {
    background: lightgoldenrodyellow;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: brown;
    font-size: 70px;
    font-style: italic;
    padding-bottom: 25px;
    padding-top: 10px;
}
span {
    color: orange;
    font-size: 101px;
}

/* Start Page Layout */
.startButton {
    background-color: palegreen;
    border-radius: 10px;
    color: green;
    cursor: pointer;
    font-size: 21px;
    font-weight: bold;
    margin: 69px;
    outline: none;
    padding: 25px;
    text-align: center;
    width: 220px;
}
.startButton:active {
    transform: translateY(4px);
}
.startButton:hover {
    background: lightgreen;
}
.intro {
    font-size: 72px;
}
.rules {
    font-size: 23px;
    line-height: 125%;
    margin-top: 15px;
}

/* Trivia Page Layout */
.time {
    background: brown;
    border-radius: 15px;
    color: lightgoldenrodyellow;
    font-size: 21px;
    line-height: 35px;
    margin: 40px 195px 0px;
    /* padding: 5px; */
    width: 400px;
}
.question {
    color: brown;
    font-size: 36px;
    margin: 35px 50px 15px;
    text-align: justify;
}
.choices {
    bottom: 20px;
    left: 250px;
    position: absolute;
}
.buttons {
    background-color: lightgoldenrodyellow;
    border-radius: 10px;
    color: brown;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    margin: 5px;
    outline: none;
    padding: 10px 20px;
    text-align: center;
    width: 300px;
}
.buttons:active {
    transform: translateY(4px);
}
.buttons:hover {
    background: lightgreen;
}

/* Answer Page */
.message {
    color: brown;
    font-size: 36px;
    margin: 35px 50px 15px;
    text-align: center;
}
.answerInfo {
    color: brown;
    font-size: 27px;
    margin: 35px 50px 15px;
    text-align: center;
}